<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>AVector - LAICĪGI, AKURĀTI, AR GARANTIJU</title>
    <meta content='AVector - LAICĪGI, AKURĀTI, AR GARANTIJU' name='description'>
    <meta content='bnf8VzJE18NhQO3j3zEwmPNDVgXrSaIMh9joGjlg85I' name='google-site-verification'>
    <meta content='mēbeļu piegāde, montāža, smagu priekšmetu pārvietošana, pārvākšanās serviss, apdrošināta krava' name='keywords'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='/img/fav.ico' rel='shortcut icon' type='image/x-icon'>
    <link href="/css/app.css" rel="stylesheet" />
  </head>
  <body class='partials partials_moving partials_moving_why_us partials_moving_why_us_index'>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60936700-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div id='content'>
      <header>
        <a class='logo' href='/'>
          <img src='/img/logo_dark.svg'>
        </a>
        <ul class='lang'>
          <li class=''><a href="/">LV</a></li>
          <li class=''><a href="/ru">RU</a></li>
          <li class=''><a href="/en">EN</a></li>
        </ul>
        <li>
          <a class='tel_number' href='tel:'></a>
        </li>
      </header>
      <div class='why_us'>
      </div>
    </div>
    <footer>
      <section>
        <div>
        </div>
        
      </section>
      <section>© 2017 AVector.</section>
    </footer>
    <script src="/js/app_main.js"></script>
  </body>
</html>
